// different screen/devices
$phone-width:  500px;
$tablet-width:  768px;
$desktop-width:  1024px;


// font family
// @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

//global css
* {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html,
  body {
  padding: 0;
  margin: 0;
  // font-family: "Livvic",  sans-serif;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--natural-clr-3);
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}
ul{
  text-decoration: none;
}

/*
===============
Css Variables
===============
*/
:root{
  --primary-clr-1: #0077B6;
  --primary-clr-2: #023E8A;
  --primary-clr-3: #48CAE4;
  --primary-clr-4: #d4563a;
  --primary-clr-5: #3898EC;
  --natural-clr-1: #E7FBFF;
  --natural-clr-2: #80858F;
  --natural-clr-3: #0C0C0C;
  --natural-clr-4: #043676;
  --natural-clr-5: #1E1717;
  --natural-clr-6: #FBF4F4;
  --natural-clr-7: #dddddd;
  --natural-clr-8: #333333;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --btn-clr:linear-gradient(270deg, #030b63, #0179af);
  --style-clr-1: rgba(0, 119, 182, 0.95);
  --style-clr-2: rgba(3, 43, 69, 0.92);
  --transition:300ms ease-in-out;
  --line-height:1.08;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width:#{$phone-width}) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar 
===============
*/
// PAGE DROPDOWN MENU
nav{
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633aa2f2e851f08693f14140_breadcrumb-bg-pattern.png"), linear-gradient(90deg, #e7fbff, #eefbfd);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}
.header-navbar-block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 1.5rem 1.2rem;

}
.w-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.w-dropdown-toggle {
  user-select: none;
  cursor: pointer;
}
 .w-dropdown-toggle{
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  // padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.dropdown-toggle {
  display: flex;
  padding: 0px;
  -moz-box-align: center;
  align-items: center;
  gap: 5px;
}
.nav-dropdown-list.w--open {
  border-radius: 3px;
  background-color: var(--clr-white);
}
.w-dropdown-list.w--open {
  display: block;
}
.nav-dropdown-list {
  min-width: 220px !important;
  border-top: 3px solid #023e8a;
  background-color: var(--clr-white);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}
.w-dropdown-list {
  position: absolute;
  background: #dddddd;
    background-color: rgb(221, 221, 221);
  display: none;
  min-width: 100%;
}
.w-dropdown {
  text-align: left;
}

.nav-dropdown-link a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: Rajdhani, sans-serif;
}

.w-nav-link a {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding-left: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-family: Rajdhani, sans-serif;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 30px !important;
  grid-row-gap: 30px;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.w-nav-menu {
  position: relative;
  float: right;
}
.header-menu-wrapper {
  display: flex;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.header-event-button-group {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#nav-link {
  padding: 0px;
  color: var(--primary-clr-2);
}
.links-container-nav li{
margin:0px 20px;
}
.nav-dropdown-list a:hover{
  color:var(--primary-clr-1) 
}
#nav-link:hover{
  color:var(--primary-clr-1) 
}

.brand-logo{
  height: auto;
  width: 200px;
}
.links li a {
  color: var(--primary-clr-2);
  font-size: 20px;
  font-family: Rajdhani, sans-serif ;
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  transition: var(--transition);
}
.primary-button.small {
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.primary-button {
  padding: 10px 27px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#030b63), to(#0179af));
  background-image: linear-gradient(270deg, #030b63, #0179af);
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}
.menu-button{
  display: none;
}
@media screen and (max-width:#{$tablet-width}){
  .menu-button{
    display: block ;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-link {
    line-height: 2;
  }
  .nav-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    min-width: 300px;
    padding: 20px;
    border-bottom: 3px solid #023e8a;
    background-color: #eefcff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .dropdown {
    display: block;
  }
  .nav-menu {
  display: none;
  }
  .menu-button {
    width: 35px;
    padding: 0px;
    font-size:2rem;
    background-color: transparent;
    color: var(--primary-clr-2);
    cursor:pointer;
  }
}
@media screen and (max-width:#{$phone-width}){
  .primary-button{
    display: none;
  }
}
  



//topnav css
.top-nav-container{
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633aa2f2e851f08693f14140_breadcrumb-bg-pattern.png"), linear-gradient(90deg, #e7fbff, #eefbfd);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  
}
.topnav-container{
  border-bottom: 1px solid var(--primary-clr-3);
  padding-bottom: 1rem;
  padding-top: 1rem; 
}
.topnav-links a{
color: var(--primary-clr-3);
font-weight: 500;
}
.topnav-links a:hover{
  color: var(--primary-clr-1);
  transition: var(--transition);
}
.topnav-icons{
  margin: 0px 2px 0px 0px;
  color: var(--primary-clr-3);
font-weight: 500;
}

.divider{
  height: 20px;
  border: 1px solid var(--primary-clr-3);
  margin: 0px .5rem;
}


@media screen and (max-width:#{$phone-width}) {
 .divider{
  display: none;
 }
 .register{
  margin-left: 1rem;
 }
 .mobile{
  margin-left:11px;
 }
 .topnav-container{
width: 100%;
 }
}

//footer css
.footer-top{
  background-color: var(--primary-clr-2);
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/6339771b7b04fd766bd3ed8d_footer-shape.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.footer-container{
  display: flex;
  justify-content:space-evenly;
  width:80%;
  margin: auto;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  color:var(--clr-white);
}
.footer-link{
  flex: 1;
  justify-content: center;
}
.footer-link-p{
margin-bottom: 25px;
color: var(--clr-white);
font-weight: 300;
}
.footer-link p{
  font-weight: 300;
  font-size: 17px;
}
.footer-center{
  // display: grid;
  text-align:left;
}

.footer-link h2{
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 10px;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 24px;
}
.footer__brand{
  height: auto;
  width: 200px;
  margin-bottom: 10px;
}
#footerlink{
  color: var(--clr-white);
   font-size: 20px;
   font-weight: 300;
}
#footerlink:hover{
  color:var(--primary-clr-3);
  transition: var(--transition);
  border-bottom: 1px solid var(--primary-clr-1);
  padding-bottom: 5px;
}
.active{
  color:var(--primary-clr-3) !important;
  font-weight: 600 !important;
  border-bottom: 3px solid var(--primary-clr-3);
  
}
.footer-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--natural-clr-4);
}
.copy-right{
  color: var(--clr-white);
  text-align:center;
}
.copy-right a{
  margin: 0px 7px;
}
.section-span{
  color:var(--primary-clr-1); 
  font-weight: 700; 
}
.copy-right a:hover{
  color:var(--primary-clr-3);
  transition: var(--transition);
  border-bottom: 1px solid var(--primary-clr-1);
  padding-bottom: 5px;
}
.icons{
  margin-right:10px;
  font-size:25px;
}
.icons:hover{
  color:var(--primary-clr-3);
  transition: var(--transition);
  transform: scale(1.3);
}
@media screen and (max-width:#{$phone-width} ){
  .footer-link h2{
    font-size: 22px;
  }
  .icons{
    font-size:20px ;
  }
  .footer-link-p{
    width: 100%;
  }
  .icons-container{
    margin-bottom: 2rem;
  }
 
}
// h1

// 

// subheading css
.project-sub-container{
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633aa2f2e851f08693f14140_breadcrumb-bg-pattern.png"), linear-gradient(90deg, #e7fbff, #eefbfd);
background-position: 50% 50%, 0px 0px;
background-size: cover, auto;
background-repeat: no-repeat, repeat;
padding: 6rem 0px;
}
.w-container{
margin-left: auto;
margin-right: auto;
max-width: 940px;
}
.project-block{
  display: flex;
  justify-content: center;
}
.project-sub-content{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center;
  max-width: 478px;
}
.project-sub-content h1{
margin-top: 20px;
margin-bottom: 10px;
font-family: Rajdhani, sans-serif;
font-size: 64px;
line-height: 1.12;
font-weight: 700;
}
.project-title{
margin-bottom: 0px;
color: var(--primary-clr-2);
}
.project-sub-content p{
font-size: 20px;
}
.project-link{
display: flex;
color:var(--primary-clr-1);
justify-content: center;
margin-top: 15px;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
grid-column-gap: 10px;
grid-row-gap: 10px;
font-family: Rajdhani, sans-serif;
font-size: 20px;
font-weight: 600;
list-style-type: none;
}
.project-nav-link:hover{
color: var(--primary-clr-2);
}
.sub_heading_span{
  color: var(--primary-clr-1);
}
.project-link{
  display:flex
}
.project-wrapper{
  margin: 3rem 0px;
  display: grid;
grid-auto-columns: 1fr;
grid-column-gap: 30px;
grid-row-gap: 30px;
grid-template-columns:repeat(3, 1fr);
grid-template-rows: auto;

}

.project-item-wrapper{
  border-radius: 10px;
  position: relative;
  padding: 25px;
  width: 325px;
  background-color: var(--natural-clr-1);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.13);
  // height: auto;
}
.project-collection{
  position: relative;
  width: 100%;
}
.project__img{
  opacity: 1;
  border-radius: 10px;
  display: block;
  width: 100%;
  transition: .5s;
  backface-visibility: hidden;
}
.project__contents{
  transition: .5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // height: 0;
  // bottom: 100%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--style-clr-1);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.project__contents h3{
margin-bottom: 1rem;
color: var(--clr-white);
font-family: Rajdhani, sans-serif;
font-size: 18px;
font-weight: 700;
}
.project__contents p{
margin-bottom: 1rem;
font-weight: 500;
color: var(--clr-white);
font-family: Rajdhani, sans-serif;
}
.pointer-arrow{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.project-item-wrapper:hover .project__img{
  opacity: 1;
}
.project-item-wrapper:hover .project__contents{
  opacity: 1;
  // bottom: 0;
  // height: 100%;
}
@media screen and (max-width:#{$tablet-width}) {
  .project-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    // padding: 50px;
  }

}
@media screen and (max-width:#{$phone-width}) {
  .project-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem 0px;
  }
  .project-sub-content h1{
    font-size: 45px;
  }
  .project-sub-content p{
    font-size: 16px;
    padding:1rem;
    }
    .project-item-wrapper{
      width: none;
    }

}


// NEWSLETTER STYLES
.section-gap-bottom-130 {
  padding-bottom: 100px;
}
.newsletter-text-span {
  color: var(--primary-clr-2);
  margin: 0px 3px;
}
.newsletter-form-block {
  margin-bottom: 0px;
}
.newsletter-grid{
display: grid;
padding: 40px 50px;
align-items: center;
grid-auto-columns: 1fr;
grid-column-gap: 40px;
grid-row-gap: 40px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
border-radius: 20px;
background-color: var(--natural-clr-1);
background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63356051d0c8b5a95aa4039b_newsletter-shape-1.png"), url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63356051d0c8b5a95aa4039b_newsletter-shape-1.png");
background-position: 100% 50%, 0% 50%;
background-size: 528px 528px, 528px 528px;
background-repeat: no-repeat, no-repeat;

}
.newsletter-form{
  position: relative;
}
.w-container{
  margin-left: auto;
  margin-right:auto;
}

.container{
  max-width: 960px !important;
}
.newsletter-content h2{
margin-bottom: 10px; 
 color: var(--primary-clr-2);
 line-height: 1.08;
  font-size: 38px;
  font-weight: 700;
  font-family: Rajdhani, sans-serif;
}

.section-text{
  margin-bottom: 20px;
  font-weight: 500;
  font-family: Rajdhani, sans-serif;
}
.newsletter-form{
  position: relative;
}
.w-form{
  margin: 0 0 15px;
}
.newsletter-input-form{
height: 64px;
margin-bottom: 0px;
padding-right: 140px;
padding-left: 20px;
border-style: solid;
border-width: 1px;
border-color: var(--primary-clr-1);
border-radius: 30px;
background-color: transparent;
}
.w-input{
display: block;
width: 100%;
padding: 10px 12px;
font-size: 14px;
line-height: 1.42857143;
color: var(--clr-black);
}
.primary-button{
  padding: 10px 27px;
  border-radius: 25px;
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none
}
.w-button{
display: inline-block;
background-color: var(--primary-clr-5);
cursor: pointer;
}
.primary-button.newsletter-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 29px;
}
@media screen and (max-width:#{$tablet-width}) {
  .newsletter-grid {
    padding: 30px 40px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
  .container {
    max-width: 720px !important;
  }
  .section-title {
    font-size: 34px;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .newsletter-grid {
    grid-template-columns: 1fr;
  }
  .newsletter-content {
    text-align: center;
  }
  .container {
    max-width: 100% ;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
  }
  .newsletter-grid {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section-title {
    font-size: 20px;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    // align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .newsletter-input-form{
    height: 45px;
    align-items: center;
  }
  .primary-button.newsletter-button {
    position: static;
  }
  .primary-button {
    padding: 8px 22px;
  }
  .newsletter-content h2{
      font-size: 28px;
    }
}



// CONTACT STYLES
.contact-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 73px;
  grid-row-gap: 73px;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  grid-template-rows: auto;
}
.contact-map-block {
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
}
.google-map {
  width: 100%;
  height: 100%;
}
.w-widget {
  position: relative;
}
.map{
  height: 100%;
  width: 100%;
 }
.w-container{
  margin-left: auto;
  margin-right: auto;
}
.container{
  max-width: 960px;
}
.container-contact{
  max-width: 1050px;
}
.contact-block{
display: grid;
grid-auto-columns: 1fr;
grid-column-gap: 73px;
grid-row-gap: 73px;
grid-template-columns: minmax(200px, 1fr) 1fr;
grid-template-rows: auto;
width: 100%;
margin: auto;
}
.section-title{
margin-top: 0px;
color: var(--primary-clr-2);
// font-size: 38px;
margin-bottom: 10px;
font-family: Rajdhani, sans-serif;
font-size: 46px;
line-height: 1.08;
font-weight: 700;
}

.section-text a{
  margin: 0px 5px;
  text-decoration: underline;
  color: var(--primary-clr-1);
}
strong{
  color: var(--primary-clr-1);
font-weight: 500;
}
.contact-details-info {
  margin-top: 30px;
}
.contact-info-title {
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 24px;
  font-weight: 700;
}
.contact-info-small-title {
  color: var(--primary-clr-1);
  font-weight: 500;
}
.contact-info-text {
  margin-bottom: 15px;
}
.contact-site-url {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 8px;
  text-decoration: none;
  color: var(--primary-clr-1);
}
.contact-site-url:hover{
  transition: color 300ms ease;
color: var(--primary-clr-2);
}
.section-gap-130 {
  padding-top: 100px;
  padding-bottom: 100px;
}

// form css
.contact-form-wrapper {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-upper-text {
  margin-bottom: 40px;
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-1);
  font-size: 26px;
  font-weight: 700;
}
.contact-form-block {
  width: 100%;
  margin-bottom: 0px;
}
.w-form {
  margin: 0 0 15px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.contact-input-group {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}
.default-input-field {
  width: 100%;
  height: 52px;
  padding: 12px 24px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #77b6d8;
  border-radius: 12px;
  background-color: var(--clr-white);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.04);
  color: var(--clr-black) !important;
  color: #686d76;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.8px;
  // font-weight: 700;
}
.w-input {
  display: block;
}
.contact-input-group {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.primary-button.margin-top-50 {
  margin-top: 30px;
}
.primary-button {
  padding: 10px 27px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#030b63), to(#0179af));
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.default-input-field.contact-text-area {
  height: 240px;
}
#Contact-Message.w-node-_0433b0ec-3f89-81ce-9f2e-3b04ff192a61-84d9bf7c {
  grid-column-start: span 3;
  grid-column-end: span 3;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.section-gap-bottom-130 {
  padding-bottom: 100px;
}



@media screen and (max-width:#{$tablet-width}) {
  .contact-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    padding:0px 15px;
  }
  .section-gap-bottom-130 {
    padding-bottom: 60px;
  }
  .contact-input-group {
    flex-direction: column;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
 
}
@media screen and (max-width:#{$phone-width}) {
  .contact-block {
    padding:0px 15px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
  }
  .contact-map-block {
    min-height: 320px;
  }
  .contact-input-group {
    width: 300px ;
  }
  .section-gap-130 {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}


// Quotes css
.quote-subtitle {
  margin-bottom: 10px;
  font-weight: 600;
}
#w-node-_39389747-c504-b3cd-cb6d-5870509bdd13-a714e7e7 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}
#Product-Budget-2.w-node-_52673db7-a4af-976a-31bc-fd4d7d3fb9d6-a714e7e7 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}
.quote-input-group {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.quote-input-group-item {
  margin-bottom: 15px;
}
label {
  font-weight: bold;
}
.w-checkbox {
  margin-bottom: 5px;
  margin-right: 10px;
  // padding-left: 20px;
}
.checkbox-field {
  display: flex;
  align-items: center;
  align-self: flex-start;
}
// element {
//   opacity: 0;
//   position: absolute;
//   z-index: -1;
// }
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.checkbox.w--redirected-focus {
  border-color: #5853ec;
  
  }
// .w-checkbox-input--inputType-custom.w--redirected-focus {
//   box-shadow: 0px 0px 3px 1px #3898EC;
// }
// .checkbox.w--redirected-focus {
//   box-shadow: 0px 0px 3px 1px #3898EC;
// }
.checkbox {
  width: 20px;
  height: 20px;
  border-color: #0077b6;
  margin: 0px 6px 0px 0px;
  border-style: 1px solid,
}
.checkbox{
 margin-right: 8px !important;
  height: 20px;
  width: 20px,
}
.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0px;
}
.checkbox.no-padding-checkbox {
  margin-top: 0px;
}

// .checkbox:hover {
//   opacity: 0;
//   position: absolute;
//   z-index: -1;
// }
.w-checkbox::before {
  content: ' ';
  display: table;
}
.w-checkbox::after {
  content: ' ';
  display: table;
  clear: both;
}
label{
  font-weight:bold;
}
.quote-form-block {
  width: 100%;
  margin-bottom: 0px;
}
// #inputs-bold{
//   color: var(--clr-black);
//   font-size:30px;
// }

.checkbox.w--redirected-checked {
  border-color: #0077b6;
  background-color: #0077b6 ;
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633142b0d726c72dd1db64e0_check-16px.svg");
  background-position: 50% 50%;
  background-size: auto;
  box-shadow: none;
}


#w-node-bde85bbb-254f-6ba9-3d7e-cc5d3fb19536-a714e7e7 {
  grid-column-start: span 3;
  grid-column-end: span 3;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.quote-project-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.quote-project-item {
  padding-left: 0px;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
ul{
  display:flex;
}
.quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


// home css
.hero-background {
  position: relative;
  padding-top: 180px;
  padding-bottom: 120px;
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633190cf0474c871ea8804a4_hero-bg-pattern.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container-wrapper {
  display: flex;
  // grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.hero-content {
  max-width: 500px;
}
.hero-content h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Rajdhani, sans-serif;
    font-size: 64px;
    line-height: 1.12;
    font-weight: 700;
}
.hero-title {
  margin-bottom: 20px;
  color: #023e8a;
}
.hero-title-span {
  color: #0077b6;
  text-decoration: underline;
}
.hero-text {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.hero-link-group {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}
.hero-video-link {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-decoration: none;
  color: #0077B6;
  font-family: Rajdhani, sans-serif;
  font-weight:600;
}
.w-inline-block {
  max-width: 100%;
}
.video-play {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.hero-shape {
  position: absolute;
  inset: auto auto 35px 6%;
}
.hero-image{
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63536b582cf25003d158f7c8_hero-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display: grid;
  place-items: center;
}
.hero__shape{
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63536c2e4f3fdf00dafdcacb_hero-shape.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
}
.hero-image-block {
  position: absolute;
  inset: auto 1% 0% auto;
  width: 45%;
}
.hero-image-block {
  position: absolute;
  left: auto;
  top: auto;
  right: 1%;
  bottom: 0%;
  width: 45%;
}
.hero-shape {
  position: absolute;
  left: 10%;
  top: auto;
  right: auto;
  bottom: 35px;
  font-size:2rem;
}
@media screen and (max-width:#{$tablet-width}) {
  .hero-background {
    padding-top: 180px;
    padding-bottom: 100px;
  }
  .hero-content {
    max-width: 355px;
  }
  h1 {
    font-size: 56px;
  }
  .hero-text {
    font-size: 18px;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .hero-background {
    padding-top: 170px;
    padding-bottom: 90px;
  }
  h1 {
    font-size: 40px;
  }
  .hero-container-wrapper {
    display: block;
  }
}

// eliminate css
.section-gap-130-eliminate {
  padding-top: 80px;
  padding-bottom: 100px;
}
.eliminate-grid {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  grid-template-rows: auto;
}
#w-node-bb981379-6d5b-d20f-880f-d0a5b9a4085c-44adaf1d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.eliminate-image-box {
  position: relative;
  z-index: 1;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.eliminate-shape-1 {
  position: absolute;
  left: auto;
  top: auto;
  right: 8%;
  bottom: 20%;
}
.eliminate-shape-2 {
  position: absolute;
  left: auto;
  top: 20%;
  right: -2%;
  bottom: auto;
  z-index: -1;
}
#w-node-_7567fb22-2cf4-6551-36b0-67cbebb1b7c7-44adaf1d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.section-title.max-width-442 {
  max-width: 442px;
}
.section-block h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Rajdhani, sans-serif;
    font-size: 38px !important;
    line-height: 1.08;
    font-weight: 700;
}
.section-title-inner-style {
  color: #0077b6;
  margin:0px 4px;
}

.eliminate-list {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 0px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.w-list-unstyled {
  list-style: none;
}
.eliminate-list-item {
  display: flex;
  padding-left: 0px;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: none;
}
.eliminate-list-style {
  width: 17px;
  height: 17px;
  border-style: solid;
  border-width: 2px;
  border-color: #00b4d8;
  border-radius: 50%;
  background-color: #fff;
}
.eliminate-list-text {
  max-width: 442px;
  flex: 1;
}
.eliminate-list-item-dash-progress {
  position: absolute;
  z-index: -1;
  display: flex;
  margin-top: 37px;
  margin-left: 8px;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-left: 1px dashed #00b4d8;
  background-image: none;
}
@media screen and (max-width:#{$tablet-width}) {
  .eliminate-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: minmax(400px, 1fr) 1fr;
  }
  .section-title {
    font-size: 34px;
  }
  .eliminate-shape-1 {
    bottom: 23%;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .eliminate-grid {
    grid-template-columns: 1fr;
  }
  .eliminate-shape-1 {
    right: 3%;
  }
  .eliminate-shape-2 {
    top: 10%;
  }
  .section-title {
    font-size: 30px;
  }
}



// ethic
.container.justify-center {
  flex-direction: column;
  justify-content: center;
}
.section-justify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-block.max-width-475 {
  max-width: 475px;
}
.section-block.max-width-475.text-center {
  text-align: center;
}
.work-progress-block {
  display: grid;
  margin-top: 55px;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns:repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: auto;
}
@media screen and (max-width:#{$phone-width}) {
  .work-progres-block{
    padding:0rem 1rem;

  }
  .contact-upper-text {
    font-size:22px;
  }
}

.single-work-progress-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px 30px 25px;
  border-radius: 14px;
  transition: box-shadow 300ms ease, background-color 300ms ease;
  text-align: center;
  cursor: pointer;
}
#w-node-_0e08f737-4d77-aa87-5e85-122aa03eaf97-44adaf1d {
  justify-self: center;
  
}
.work-progress-icon-block {
  display: flex;
  min-height: 127px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.work-progress-text {
  margin-top: 7px;
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
}
.work-progress-number-text {
  position: absolute;
  left: 25px;
  top: 20px;
  right: auto;
  bottom: auto;
  font-family: Rajdhani, sans-serif;
  color: #0077b6;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}
.work-progress-horizontal-line-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 8px;
  background-color: #023e8a;
}
#special {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.single-work-progress-item:hover #special{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.single-work-progress-item:hover .work-progress-number-text{
  opacity:1 !important;
  will-change: opacity;
}
.single-work-progress-item:hover .work-progress-text{
  color:rgb(0,119,182)
}
.single-work-progress-item:hover .single-work-progress-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px 30px 25px;
  border-radius: 14px;
  transition: box-shadow 300ms ease, background-color 300ms ease;
  text-align: center;
}

// WHY CHOOSE BRIDGETECH CSS
.choose-grid-layout {
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.choose-list {

  display: flex;
  margin-top: 45px;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.choose-list-item {
  display: flex;
  padding-left: 0px;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-image: none;
}
.choose-image-icon {
  width: auto;
  height: 62px;
}
.choose-content {
 
  flex: 1;
}
p {
  margin-top: 0;
}
.choose-title {
  font-family: Rajdhani, sans-serif;
  color:var(--primary-clr-2);
  font-size: 24px;
  font-weight: 700;
}
.choose-image-box {
  position: relative;
}
.choose-image {
  width: 100%;
}
.choose-inner-text-box-1 {
  position: absolute;
  left: -100px;
  top: auto;
  right: auto;
  bottom: 102px;
  z-index: 111;
  max-width: 166px;
  padding: 16px 25px 16px 30px;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.86);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.24);
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.choose-inner-text-box-1 {
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.choose-inner-text-box-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -24px;
  bottom: 261px;
  z-index: 111;
  max-width: 220px;
  padding: 20px 25px 20px 30px;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.86);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.24);
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 20px;
  line-height: 1.2;
}
.choose-inner-text-box-2 {
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
@media screen and (max-width:#{$tablet-width}) {

  .choose-inner-text-box-1 {
    display: none;
  }
  .choose-inner-text-box-2 {
    display: none;
  }
  
  .choose-list {
    margin-top: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .choose-text {
    max-width: 100%;
  }
  .section-gap-bottom-130 {
    padding-bottom: 60px;
  }
  .container {
    max-width: 720px;
  }
  .work-progress-block {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width:#{$phone-width}){
.section-gap-bottom-130 {
  padding-bottom: 60px;
}
.container {
  max-width: 100%;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.choose-grid-layout {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.section-title {
  font-size: 34px;
}
.work-progress-block {
  grid-template-columns: 1fr;
}
}

// LATEST PROJECT OF BRIDGETECH
.blue-background-gradient-bottom {
  
  background-image: linear-gradient(180deg, #fff, #f6fdff);
}
.section-title.max-width-278 {
  max-width: 400px;
}
.section-text.max-width-370 {
  max-width: 370px;
}

// BRIDGETECH SERVICES
.service-hero-grid-layout {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.servcie-medium-subtitle-text {
  margin-top: 32px;
  color: #023e8a;
  font-size: 20px;
}
strong {
  color: #0077b6;
  font-weight: 500;
}
.section-link.margin-top-20 {
  margin-top: 20px;
}
.section-text {
  margin-top: 20px;
}
.section-link {
  display: inline-block;
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 24px;
  font-weight: 500;
  text-decoration:underline;
}
@media screen and (max-width:#{$phone-width}){
  .service-hero-grid-layout {
    grid-template-columns: 1fr;
  }
}

// SERVICES BRIDGETECH OFFER
.service-collection-list-wrapper {
  margin-top: 40px;
}
.service-collection-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.service-thumbnail-image-block {
  display: block;
  overflow: hidden;
  max-height: 230px;
  border-radius: 10px;
}
.service-single-item-box {
  padding: 25px 25px 35px;
  border-radius: 10px;
  background-color: #e7fbff ;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.13) ;
}
.w-inline-block {
  max-width: 100%;
}

.image-responsive {
  width: 100%;
  height: auto;
}
.section-justify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-block.max-width-475.text-center {
  text-align: center;
}
.section-block.max-width-475 {
  max-width: 475px;
}
.service-content {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service-title-link {
  display: block;
  margin-bottom: 5px;
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  text-decoration: none;
}
.service-content a:hover{
  color: var(--primary-clr-5);
  transition: 0.5s;
}
.image-responsive:hover{
  transition: 0.5s;
  filter:blur(3px)
}
@media screen and (max-width:#{$tablet-width}){
  .service-collection-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:#{$phone-width}){
  .service-collection-list {
    grid-template-columns: 1fr;
  }
}

// SINGLE SERVICES STYLES
.service-area-block {
  display: grid;
  margin-bottom: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.service-subtitle-text {
  color: #023e8a;
  font-size: 20px;
}
.service-area-image-block {
  overflow: hidden;
  border-radius: 20px;
}
.service-benefit-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.ul {
 
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 30px;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  list-style-type: none;
}
.li{
  display: flex;
padding-left: 35px;
background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/634a90a4ee4611798db1a09e_list-check-mark.png");
background-size: auto;
background-repeat: no-repeat;
background-attachment: scroll;
list-style-type: decimal;
}
.service-benefit-image-block {
  overflow: hidden;
  border-radius: 20px;
}
 .w-richtext ul {
  overflow: hidden;
}
.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-how-to-block {
  display: grid;
  margin-bottom: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.service-how-to-image-block {
  overflow: hidden;
  border-radius: 20px;
}
.inner-quote-block {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.inner-quote-border-left {
  position: absolute;
  left: 0%;
  top: 7px;
  right: auto;
  bottom: 0%;
  width: 1px;
  height: 84%;
  background-color: #0093f1;
}
.service-top-manu-image-block {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-around;
  // align-items: flex-start;
  grid-column-gap: 55px;
  grid-row-gap: 55px;
}
.service-top-image-block {
  overflow: hidden;
  margin-top: 50px;
  border-radius: 20px;
}
.service-top-menu-block {
  min-width: 270px;
  border-radius: 20px;
  background-color: #e7fbff;
}
.service-link-list-wrapper {
  padding: 35px 20px;
  text-align: center;
}
.service-link-list {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.service-link-item {
  position: relative;
}
.service-link-list-wrapper {
  text-align: center;
}
#service-link {
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.single-service-link{
  // color:var(--primary-clr-3)
  color:red;
}
.service-section-top-text {
  margin-bottom: 60px;
  font-size: 20px;
}
#service-link:hover{
  color: var(--primary-clr-3);
  transition:.5s
}
.service-link-separator {
  position: absolute;
  bottom: -12.5px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 119, 182, 0.42);
}
p {
  margin-bottom: 15px;
}
.it-solution{
    transition: color 300ms ease;
    color: #0077b6;
    text-decoration: underline;
    margin:0px 3px

}
@media screen and (max-width:#{$tablet-width}){
  .service-area-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .service-how-to-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .inner-quote-border-left {
    height: 88%;
  }
  .service-benifit-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media screen and (max-width:#{$phone-width}){
  .service-top-manu-image-block {
    flex-direction: column;
    align-items: stretch;
  }
  .service-area-block {
    margin-bottom: 40px;
    grid-template-columns: 1fr;
  }
  .service-how-to-block {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
  .service-benefit-block {
    grid-template-columns: 1fr;
  }
}


// NOT FOUND PAGE OR ERROR 404 PAGE
.not-found{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  text-align:left;
  margin: 6rem 0px;
}
.not-found h2{
  font-style: 6rem;
  margin:1rem 0px;
}
.not-found h3{
  margin:1rem 0px;
  font-style: 2rem;
}
.router-back-home{
  color: var(--primary-clr-1);
  font-style: 4rem;
  margin:0px .5rem;
}

// BRIDGETECH TEAM
.team-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.team-single-item {
  overflow: hidden;
  border-radius: 14px;
  transition: box-shadow 300ms ease;
}
.team-content {
  position: relative;
  overflow: hidden;
  max-height: 140px;
  padding-top: 8px;
  padding-bottom: 20px;
  flex-direction: column;
  background-color: #e7fbff;
  text-align: center;
}
.team-name-title {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 24px;
  font-weight: 700;
}
.team-job-title {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.3;
}
.team-separator {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #cbedff;
}
.team-social-block {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.team-social-link {
  display: flex;
  overflow: hidden;
  width: 27px;
  height: 27px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #0077b6;
  border-radius: 50%;
}
.w-inline-block {
  max-width: 100%;
}
.team-view-profile-button {
  display: inline-block;
  overflow: hidden;
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 20.37px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0179af), to(#023e8a));
  background-image: linear-gradient(90deg, #0179af, #023e8a);
  font-family: Rajdhani, sans-serif;
  color: #fff;
  text-decoration: none;
}
.team-social-link:hover .team-icon{
  transform: scale(1.5);
  transition:.5s;
}
@media screen and (max-width:#{$tablet-width}){
  .team-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width:#{$phone-width}){
  .team-list {
    grid-template-columns: 1fr ;
  }
}

// .team-single-item:hover .team-separator{
// opacity: 0;
// }
// .team-single-item:hover .team-content{
//   height: 20%;
// }

// ABOUT BRIDGETECH CSS
.about-block {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;
}
.about-image-block {
  position: relative;
}
.service-section-quote-image {
  position: absolute;
  left: -8%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
}

.section-gap-top-130 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-content {
  max-width: 550px;
}
.about-content h2{
  font-size: 34px !important;
}
.about-subtitle.paragraph-medium {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 500;
}
.about-subtitle {
  color: #023e8a;
}
.paragraph-medium {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -1px;
}
.about-small-title {
  margin-top: 20px;
  font-family: Rajdhani, sans-serif;
  color: #023e8a;
  font-size: 20px;
  font-weight: 700;
}
.text-span-style {
  color: #0077b6;
}
.primary-button.margin-top-40 {
  display: inline-block;
  margin-top: 40px;
}
@media screen and (max-width:#{$tablet-width}){
  .about-block {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .about-subtitle.paragraph-medium {
    font-weight: 500;
  }
}
@media screen and (max-width:#{$phone-width}){
  .about-image-block {
    display: none;
  }
  .about-block {
    grid-template-columns: 1fr;
  }
}


// SERVICES PROVIDE @ HOME PAGE
.custom-container-fluid {
  max-width: 100%;
  padding-right: 60px;
  padding-left: 60px;
}
.service-grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 38px;
  grid-row-gap: 48px;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto;
}
.service-section-image-box {
  position: relative;
  z-index: 1;
}
.service-section-dotted-shape {
  position: absolute;
  left: 100px;
  top: 5%;
  right: auto;
  bottom: auto;
  z-index: -1;
}
.service-section-quote-image {
  position: absolute;
  left: -8%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
}
#w-nod {
  align-self: end;
  justify-self: end;
}
.section-up-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.section-title.max-width-152 {
  max-width: 250px;
}
.section-text.max-width-370 {
  max-width: 370px;
}
.w-inline-block {
  max-width: 100%;
}

// LOGIN FORM
.login-block {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.section-title.max-width-442 {
  max-width: 442px;
}
.login-form-block {
  margin-top: 40px;
  margin-bottom: 0px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media screen and (max-width:#{$tablet-width}){
  .login-block {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
  .section-title {
    font-size: 34px;
  }
}
@media screen and (max-width:#{$phone-width}){
.login-block {
  grid-template-columns: 1fr;
}
#w-node-order {
  order: 9999;
}
.section-title {
  font-size: 25px;
}
}
// SIGNUP FORM 
.signup-form-block {
  margin-top: 40px;
  margin-bottom: 0px;
}
.signup-block {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.signup-form { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

