// different screen/devices
$phone-width:  500px;
$tablet-width:  768px;
$desktop-width:  1024px;


// font family
// @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

//global css
* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html,
  body {
  padding: 0;
  margin: 0;
  font-family: Livvic, sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: var(--natural-clr-3);
  font-size: 16px;
   line-height: 1.6;
}
code{
    font-family: Rajdhani, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}
ul{
  text-decoration: none;
}

/*
===============
Css Variables
===============
*/
:root{
  --primary-clr-1: #0077B6;
  --primary-clr-2: #023E8A;
  --primary-clr-3: #48CAE4;
  --natural-clr-1: #E7FBFF;
  --natural-clr-2: #80858F;
  --natural-clr-3: #0C0C0C;
  --natural-clr-4: #043676;
  --natural-clr-5: #1E1717;
  --natural-clr-6: #FBF4F4;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --natural-clr-8: #dddddd;
  --btn-clr:linear-gradient(270deg, #030b63, #0179af);
  --bg-hover-clr-1: rgba(0, 119, 182, 0.95);
  --bg-hover-clr-2: rgba(3, 43, 69, 0.92);
  --transition-bg:300ms ease-in-out;
  --line-height:1.08;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width:#{$phone-width}) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar 
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1rem !important;
}
.nav-link{
  padding: 0px;
color: var(--clr-primary-2);
font-size: 20px;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.brand-logo{
  height: auto;
  width: 70px;
}

.links a {
  color: var(--clr-primary-2) !important;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);  
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  font-family: Rajdhani, sans-serif;
}
.show-container {
  height: 10rem;
}
.social-icons {
  display: flex;
  align-items: center;
}
.quote-primary.small{
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.quote-primary {
  margin: 0 0.5rem;
  color: var(--clr-white);
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif !important;
  font-weight: 600;
 text-decoration: none;
}
@media screen and (min-width:#{$tablet-width}) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--clr-primary-3) !important;
  }
  .links li ::after {
    content: "";
    height: 3px;
    margin: auto;
    width: 0;
    display: block;
    background: var(--clr-yellow);
    cursor: pointer;
    transition: 0.5s;
  }
  .links li :hover::after {
    width: 100%;
  }
  .social-icons {
    display: flex;
    font-size: 1.5rem;
  }
  
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons li:hover {
    color: var(--clr-white) !important;
      transition: 0.9s;
      border-radius: 6px;
      background-color: var(--clr-primary-4);
  }
}

 