@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--natural-clr-3);
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

ul {
  text-decoration: none;
}

/*
===============
Css Variables
===============
*/
:root {
  --primary-clr-1: #0077B6;
  --primary-clr-2: #023E8A;
  --primary-clr-3: #48CAE4;
  --primary-clr-4: #d4563a;
  --primary-clr-5: #3898EC;
  --natural-clr-1: #E7FBFF;
  --natural-clr-2: #80858F;
  --natural-clr-3: #0C0C0C;
  --natural-clr-4: #043676;
  --natural-clr-5: #1E1717;
  --natural-clr-6: #FBF4F4;
  --natural-clr-7: #dddddd;
  --natural-clr-8: #333333;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --btn-clr:linear-gradient(270deg, #030b63, #0179af);
  --style-clr-1: rgba(0, 119, 182, 0.95);
  --style-clr-2: rgba(3, 43, 69, 0.92);
  --transition:300ms ease-in-out;
  --line-height:1.08;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/*
=============== 
Navbar 
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

#nav-link {
  padding: 0px;
  color: var(--primary-clr-2);
  font-size: 20px;
}

.nav-center {
  padding: 16px;
  text-align: center;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-clr-2);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-clr-3);
  transform: rotate(90deg);
}

.brand-logo {
  height: auto;
  width: 50px;
}

.links li a {
  color: var(--primary-clr-2);
  font-size: 20px;
  font-family: Rajdhani, sans-serif;
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  transition: var(--transition);
}

.links a:hover {
  color: var(--primary-clr-3);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  font-family: Rajdhani, sans-serif;
}

.show-container {
  height: 10rem;
}

.quotes-container {
  display: none;
}

.quote-primary.small {
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
}

.quote-primary {
  font-family: Rajdhani, sans-serif;
  margin: 0 0.5rem;
  color: var(--clr-white);
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: var(--transition);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .links a:hover {
    color: var(--primary-clr-3);
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--clr-primary-2);
  }
  .links li::after {
    content: "";
    height: 3px;
    margin: auto;
    width: 0;
    display: block;
    background: var(--primary-clr-3);
    cursor: pointer;
    color: var(--primary-clr-3);
    transition: 0.5s;
  }
  .links li:hover::after {
    width: 100%;
  }
  .quotes-container {
    display: flex;
    font-size: 1.5rem;
  }
  .quotes-container a {
    margin: 0 0.5rem;
    color: var(--clr-white);
    transition: var(--transition);
    font-weight: 600;
  }
  .quotes-container li:hover {
    color: var(--clr-white);
    transition: 0.9s;
    border-radius: 6px;
    background-color: var(--primary-clr-3);
  }
}
.topnav-container {
  border-bottom: 1px solid var(--primary-clr-3);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.topnav-links a {
  color: var(--primary-clr-3);
  font-weight: 500;
}

.topnav-links a:hover {
  color: var(--primary-clr-1);
  transition: var(--transition);
}

.topnav-icons {
  margin: 0px 2px 0px 0px;
  color: var(--primary-clr-3);
  font-weight: 500;
}

.divider {
  height: 12px;
  border: 1px solid var(--primary-clr-3);
  margin: 0px 0.5rem;
}

@media screen and (max-width: 500px) {
  .divider {
    display: none;
  }
  .register {
    margin-left: 1rem;
  }
}
.footer-top {
  background-color: var(--primary-clr-2);
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/6339771b7b04fd766bd3ed8d_footer-shape.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--clr-white);
}

.footer-link {
  flex: 1;
  justify-content: center;
}

.footer-link-p {
  margin-bottom: 25px;
  color: var(--clr-white);
  font-weight: 300;
}

.footer-link p {
  font-weight: 300;
  font-size: 17px;
}

.footer-center {
  text-align: left;
}

.footer-link h2 {
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 10px;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 24px;
}

.footer__brand {
  height: auto;
  width: 50px;
  color: var(--clr-white);
  margin-bottom: 10px;
}

#footerlink {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 300;
}

#footerlink:hover {
  color: var(--primary-clr-3);
  transition: var(--transition);
  border-bottom: 1px solid var(--primary-clr-1);
  padding-bottom: 5px;
}

.active {
  color: var(--primary-clr-3) !important;
  font-weight: 600 !important;
  border-bottom: 3px solid var(--primary-clr-3);
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--natural-clr-4);
}

.copy-right {
  color: var(--clr-white);
  text-align: center;
}

.copy-right a {
  margin: 0px 7px;
}

.section-span {
  color: var(--primary-clr-1);
  font-weight: 700;
}

.copy-right a:hover {
  color: var(--primary-clr-3);
  transition: var(--transition);
  border-bottom: 1px solid var(--primary-clr-1);
  padding-bottom: 5px;
}

.icons {
  margin-right: 10px;
  font-size: 25px;
}

.icons:hover {
  color: var(--primary-clr-3);
  transition: var(--transition);
  transform: scale(1.3);
}

@media screen and (max-width: 500px) {
  .footer-link h2 {
    font-size: 22px;
  }
  .icons {
    font-size: 20px;
  }
  .footer-link-p {
    width: 100%;
  }
  .icons-container {
    margin-bottom: 2rem;
  }
}
.project-sub-container {
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/633aa2f2e851f08693f14140_breadcrumb-bg-pattern.png"), linear-gradient(90deg, #e7fbff, #eefbfd);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  padding: 6rem 0px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.project-block {
  display: flex;
  justify-content: center;
}

.project-sub-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 478px;
}

.project-sub-content h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  font-size: 64px;
  line-height: 1.12;
  font-weight: 700;
}

.project-title {
  margin-bottom: 0px;
  color: var(--primary-clr-2);
}

.project-sub-content p {
  font-size: 20px;
}

.project-link {
  display: flex;
  color: var(--primary-clr-1);
  justify-content: center;
  margin-top: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
}

.project-nav-link:hover {
  color: var(--primary-clr-2);
}

.sub_heading_span {
  color: var(--primary-clr-1);
}

.project-link {
  display: flex;
}

.project-wrapper {
  margin: 6rem 0px 8rem 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.project-item-wrapper {
  border-radius: 10px;
  position: relative;
  padding: 25px;
  width: 300px;
  background-color: var(--natural-clr-1);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.13);
}

.project-collection {
  position: relative;
  width: 100%;
}

.project__img {
  opacity: 1;
  border-radius: 10px;
  display: block;
  width: 100%;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.project__contents {
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--style-clr-1);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.project__contents h3 {
  margin-bottom: 1rem;
  color: var(--clr-white);
  font-family: Rajdhani, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.project__contents p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--clr-white);
  font-family: Rajdhani, sans-serif;
}

.pointer-arrow {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.project-item-wrapper:hover .project__img {
  opacity: 1;
}

.project-item-wrapper:hover .project__contents {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 50px;
  }
}
@media screen and (max-width: 500px) {
  .project-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem 0px;
  }
  .project-sub-content h1 {
    font-size: 45px;
  }
  .project-sub-content p {
    font-size: 16px;
    padding: 1rem;
  }
}
.newsletter-container {
  display: grid;
  padding: 40px 50px;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-radius: 20px;
  background-color: var(--natural-clr-1);
  background-image: url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63356051d0c8b5a95aa4039b_newsletter-shape-1.png"), url("https://assets.website-files.com/6330105a320e0e0ed5adaf1c/63356051d0c8b5a95aa4039b_newsletter-shape-1.png");
  background-position: 100% 50%, 0% 50%;
  background-size: 528px 528px, 528px 528px;
  background-repeat: no-repeat, no-repeat;
  width: 60%;
  margin: auto;
}

.newsletter-form {
  position: relative;
}

.news-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.newsletter-section {
  margin-bottom: 100px;
}

.newscont {
  max-width: 960px;
}

.newsletter-contents h2 {
  margin-bottom: 10px;
  color: var(--primary-clr-2);
  line-height: 1.08;
  font-size: 38px;
  font-weight: 700;
  font-family: Rajdhani, sans-serif;
}

.newsletter-text {
  margin: 0px 5px;
}

.section-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-family: Rajdhani, sans-serif;
}

.newsletter-form {
  position: relative;
}

.w-form {
  margin: 0 0 15px;
}

.newsletter-input-form {
  height: 64px;
  margin-bottom: 0px;
  padding-right: 140px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-clr-1);
  border-radius: 30px;
  background-color: transparent;
}

.w-input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--clr-black);
}

.primary-button {
  padding: 10px 27px;
  border-radius: 25px;
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.w-button {
  display: inline-block;
  background-color: var(--primary-clr-5);
  cursor: pointer;
}

.primary-button.newsletter-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 29px;
}

@media screen and (max-width: 500px) {
  .newsletter-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .newsletter-contents h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .primary-button.newsletter-button {
    position: relative;
    margin-top: 10px;
  }
  .newsletter-input-form {
    height: 45px;
    margin-bottom: 6px;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}
.contact-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 73px;
  grid-row-gap: 73px;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  grid-template-rows: auto;
}

.contact-map-block {
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
}

.google-map {
  width: 100%;
  height: 100%;
}

.w-widget {
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 960px;
}

.container-contact {
  max-width: 1050px;
}

.contact-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 73px;
  grid-row-gap: 73px;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
}

.section-title {
  margin-top: 0px;
  color: var(--primary-clr-2);
  font-size: 38px;
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  font-size: 46px;
  line-height: 1.08;
  font-weight: 700;
}

.section-text a {
  margin: 0px 5px;
  text-decoration: underline;
  color: var(--primary-clr-1);
}

strong {
  color: var(--primary-clr-1);
  font-weight: 500;
}

.contact-details-info {
  margin-top: 30px;
}

.contact-info-title {
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-2);
  font-size: 24px;
  font-weight: 700;
}

.contact-info-small-title {
  color: var(--primary-clr-1);
  font-weight: 500;
}

.contact-info-text {
  margin-bottom: 15px;
}

.contact-site-url {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 8px;
  text-decoration: none;
  color: var(--primary-clr-1);
}

.contact-site-url:hover {
  transition: color 300ms ease;
  color: var(--primary-clr-2);
}

.section-gap-130 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-wrapper {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-upper-text {
  margin-bottom: 40px;
  font-family: Rajdhani, sans-serif;
  color: var(--primary-clr-1);
  font-size: 26px;
  font-weight: 700;
}

.contact-form-block {
  width: 100%;
  margin-bottom: 0px;
}

.w-form {
  margin: 0 0 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.contact-input-group {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.default-input-field {
  width: 100%;
  height: 52px;
  padding: 12px 24px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #77b6d8;
  border-radius: 12px;
  background-color: var(--clr-white);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.04);
  color: var(--clr-black);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.8px;
}

.w-input {
  display: block;
}

.contact-input-group {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.primary-button.margin-top-50 {
  margin-top: 30px;
}

.primary-button {
  padding: 10px 27px;
  border-radius: 25px;
  background-image: linear-gradient(270deg, #030b63, #0179af);
  transition: background-color 300ms ease-in-out;
  font-family: Rajdhani, sans-serif;
  color: var(--clr-white);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.default-input-field.contact-text-area {
  height: 240px;
}

#Contact-Message.w-node-_0433b0ec-3f89-81ce-9f2e-3b04ff192a61-84d9bf7c {
  grid-column-start: span 3;
  grid-column-end: span 3;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.section-gap-bottom-130 {
  padding-bottom: 100px;
}

#newsletter-email {
  color: var(--clr-black) !important;
}

@media screen and (max-width: 768px) {
  .contact-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    padding: 0px 15px;
  }
  .section-gap-bottom-130 {
    padding-bottom: 60px;
  }
  .contact-input-group {
    flex-direction: column;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .contact-block {
    padding: 0px 15px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
  }
  .contact-map-block {
    min-height: 320px;
  }
  .contact-input-group {
    width: 300px;
  }
  .section-gap-130 {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}/*# sourceMappingURL=globals.css.map */